{{template "header" }}
<div id="app" style="width:100%">
    <template>
        <el-container>

            <el-main class="mainMain">
                <el-form :model="modifyPass" label-width="100px">
                    <el-form-item label="舊密碼">
                        <el-input v-model="modifyPass.old_pass"></el-input>
                    </el-form-item>
                    <el-form-item label="新密碼">
                        <el-input v-model="modifyPass.new_pass"></el-input>
                    </el-form-item>
                    <el-form-item label="再次輸入新密碼">
                        <el-input v-model="modifyPass.confirm_new_pass"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="setModifyPass()">儲存</el-button>
                        <el-button>取消</el-button>
                    </el-form-item>
                </el-form>
            </el-main>

        </el-container>
    </template>

</div>
</body>
{{template "setting_bottom" .}}
